.article
  .container
    .article__wrap
      .article__name(style="background-image: url(img/article.jpg)")
        h2 Экспертиза проектной документации
      .article__content
        p Экспертиза проектной документации – незаменимая часть работы при проектировании  зданий и архитектурных объектов. Она бывает необходима для отстаивания своей невиновности в суде. Представим ситуацию, что ваш дом необоснованно обвинили непригодным для жилья, а вкладчики подали иск в суд. Что делать? Только отстаивать свою позицию при помощи необходимых экспертных решений и заключений. Как их получить? Достаточно обратиться в компанию «КавПроект»!
        p <strong>Внимание!</strong> Возможность осуществления экспертизы предоставляется исключительно сертифицированным инженерам и архитекторам-строителям.
        p Обычно для проведения экспертизы люди обращаются в государственные или частные организации, но с постановлением Правительства РФ №1070 от 29 декабря 2008 г. «О негосударственной экспертизе проектной документации и результатов инженерных изысканий», разницы между весомостью заключения экспертной комиссии почти не наблюдается, т.к. право проводить экспертизу получили негосударственные аккредитованные заведения, которые сейчас имеют такую же значимость, как и госучреждения.
        p Если вы столкнулись с подобной проблемой впервые, стоит отметить, что проектная документация может быть обработана экспертом частями, необходимыми для судебных разбирательств. Так, вы сможете избежать лишних финансовых потерь и сэкономить своё время
        p
          strong 5 действий к проведению качественной экспертизы:
        p.
          — оформление договора с компанией-исполнителем;<br><br>
          — написание заявления на осуществление частной экспертизы;<br><br>
          — сбор и подача полного пакета документов (согласно ст. 48 Градостроительного кодекса РФ);<br><br>
          — выявление нарушений, допущенных при строительстве и занесение результата проверки экспертной комиссии в протокол;<br><br>
          — получение готового результата и исправление ошибок, допущенных при конструировании.
        p
          strong Что делать, если ещё есть возможность исправить ошибки?
        p Если вы сможете соблюсти все указания, установленные нашими экспертами, ещё не всё потеряно. Проблемы могут возникнуть именно тогда, когда один из нижних этажей будет обречен на снос. Именно поэтому мы рекомендуем не экономить на строительстве и заказывать проектную документацию у профессионалов. Например, в нашей компании работают исключительно высококвалифицированные специалисты со стажем работы от 5-ти лет.
        p Заказать экспертизу проектной документации в «КавПроект» — просто. Для этого достаточно набрать по номеру, указанному в разделе «Контакты» или посетить офис компании.
      .article__nav
        a.article__prev(href="#") Предыдущая статья
        a.article__next(href="#") Следующая статья































