section
  .clients
    .container
      .row
        .col-xl-10.offset-xl-1
          .clients__heading
            h2 Клиенты
          .clients__wrap
            .clients__item
              .clients__img
                img(src="img/gasprom2.jpg" alt="")
              .clients__content
                h3 Газпром Промгаз
                p Описание проекта, что сделали для данного клиента описание проекта, что сделали для данного клиента описание проекта, что сделали для данного клиента описание проекта, что сделали для данного клиента описание проекта, что сделали для данного клиента описание проекта, что сделали для данного клиента описание проекта, что сделали для данного клиента описание проекта, что сделали для данного клиента описание проекта, что сделали для данного клиента описание проекта, что сделали для данного клиента
            .clients__item
              .clients__img
                img(src="img/gasprom2.jpg" alt="")
              .clients__content
                h3 Газпром Промгаз
                p Описание проекта, что сделали для данного клиента описание проекта, что сделали для данного клиента описание проекта, что сделали для данного клиента описание проекта, что сделали для данного клиента описание проекта, что сделали для данного клиента описание проекта, что сделали для данного клиента описание проекта, что сделали для данного клиента описание проекта, что сделали для данного клиента описание проекта, что сделали для данного клиента описание проекта, что сделали для данного клиента

