section.section
  .container
    .row
      .col-xl-11.offset-xl-1
        .company
          .company__header
            h2 О компании Кавпроект
            p Общество с ограниченной ответственностью «КАВПРОЕКТ» является одним из лидеров на рынке проектных услуг.  Основным видом деятельности является деятельность в области архитектуры, инженерно-техническое проектирование в промышленности и строительстве. ООО «КАВПРОЕКТ» является челном саморегулируемых организаций «Союз проектных организаций РОДОС» СРО № 0532.01-2015-1513048313-П-077 и «Союз изыскательских организаций РОДОС» СРО № 0303.02-2015-1513048313-И-010.
            p ООО «КАВПРОЕКТ»  реализует  в своих проектах  новые концепции по опыту мировой  и российской архитектуры . Опираясь на базовые знания и навыки современной архитектурной науки, компания всегда  открыта любым новациям и не боится идти экспериментальным путем. Именно благодаря этому сегодня «Кавпроект» занимает лидирующие позиции на рынке, являясь организацией со своими традициями, узнаваемым стилем и безупречной репутацией.
          .company__wrap
            h2 Предоставляем весь спектр<br>проектно-изыскательских услуг:
            ul.company__list
              li.company__item
                .company__content
                  .company__text
                    .company__number 1
                    .company__name
                      h3 Инженерные изыскания
                    p Как возведение любого здания невозможно без прочного фундамента, так и создание объекта основано на инженерных изысканиях. Прежде чем приступить к строительству, мы тщательно исследуем территорию предполагаемого места постройки. Для качественной работы очень важно учитывать множество аспектов.  Это и топографическая съемка места потенциального строения, и анализ оснований и грунтов, на котором будет возведен фундамент. Немаловажным критерием при выборе территории являются и экологические изыскания. Принимая во внимание техногенные факторы, которые будут воздействовать на окружающую среду, мы в обязательном порядке учитываем и риски после возведения объекта.
                  .company__img
                    img(src="img/company/1.jpg" alt="")
              li.company__item
                .company__content
                  .company__text
                    .company__number 2
                    .company__name
                      h3 Архитектурное проектирование
                    p.
                      Архитектурное проектирование – это визуализация вашей идеи. Наши архитекторы создадут для вас не только красивую, но главное функциональную планировку.<br>
                      Если это технологическое производство, то совместно с технологами соответствующего профиля специалисты компании «Кавпроект» просчитывают каждую деталь, если же общественное здание, то обязательно учитываются санитарные нормы и правила.<br>
                      Нам очень важно слышать пожелания заказчика, и мы стремимся к тому, чтобы в полной мере оправдать ожидания клиента.
                  .company__img
                    img(src="img/company/2.jpg" alt="")
              li.company__item
                .company__content
                  .company__text
                    .company__number 3
                    .company__name
                      h3 Дизайн интерьера
                    p.
                      Грамотно обустроенный интерьер обеспечивает комфорт любому помещению. В своей работе наши специалисты уделяют пристальное внимание созданию качественного убранства.<br>
                      Нам важно, чтобы каждая деталь доставляла вам удовольствие, а потому компания всегда выслушивает пожелания заказчика и готова предложить свое. Будь то жилой дом или рабочий офис, спортивный комплекс, гостиница или  музыкальная школа — у нас всегда есть свежие и оригинальные идеи специально для вас.
                  .company__img
                    img(src="img/company/3.jpg" alt="")
              li.company__item
                .company__content
                  .company__text
                    .company__number 4
                    .company__name
                      h3 Авторский надзор
                    p.
                      Для нас важно не только создать проект, но и быть уверенным в его качественной реализации. Для этой цели наша компания ведет авторский надзор своих объектов вплоть до завершения строительства. По желанию заказчика специалисты «Кавпроект » готовы проследить за исполнением проекта, чтобы не допустить даже минимальных отступлений от изначального плана.
                  .company__img
                    img(src="img/company/4.jpg" alt="")
              li.company__item
                .company__content
                  .company__text
                    .company__number 5
                    .company__name
                      h3 Реставрация
                    p.
                      Одним из сложнейших направлений в работе архитектора является реставрация. К ней необходимо подходить с особой тщательностью, ведь любое неаккуратное движение – и весь труд пойдет прахом. Реставрация лицензируется Министерством культуры РФ. На сегодняшний день лишь небольшое количество компаний имеют право заниматься этой деятельностью. Мы горды тем, что в нашей команде есть люди, способные на высоком уровне выполнять реставрационные работы.  Это позволяет «Кавпроект» входить в число немногих лицензированных компаний.
                  .company__img
                    img(src="img/company/5.jpg" alt="")
            p.font-thin В ООО «Кавпроект» подобран высококвалифицированный состав специалистов имеющих большой опыт работ. Все специалисты обладают профильным высшим образование и своевременно проходят курсы по повышению квалификации.
section.section
  .container
    .row
      .col-xl-10.offset-xl-1
        h2 Мы принимали участие<br>и разработали такие проекты как:
      .col-12
        include ../partials/_slider-name2-img
      .col-12
        br
        .show-more
          a.show-more__link(href="#") Смотреть все проекты