section.section
  .container
    .row
      .col-xl-11.offset-xl-1
        .contacts
          .contacts__wrap
            .contacts__left
              .contacts__heading
                h2 Контакты
              .contacts__info
                .contacts__title ООО “Кавпроект”
                .contacts__text.
                  Адрес: Россия, 362013,<br>РСО-Алания, г.&nbsp;Владикавказ, ул.&nbsp;Мичурина, 46<br>
                  График работы: 9:00 - 18:00<br>
                  office@kavproject.ru
            .contacts__maps
              .maps(style="position:relative;overflow:hidden;")
                a(href="https://yandex.ru/maps/33/vladikavkaz/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;") Владикавказ
                a(href="https://yandex.ru/maps/33/vladikavkaz/house/ulitsa_michurina_36/YE0YcABjQUUEQFppfXx3d3tmZQ==/?ll=44.673807%2C43.066533&sll=44.673803%2C43.066751&sspn=0.012113%2C0.006001&utm_medium=mapframe&utm_source=maps&z=17.34" style="color:#eee;font-size:12px;position:absolute;top:14px;") Улица Мичурина, 36 — Яндекс.Карты
                iframe(src="https://yandex.ru/map-widget/v1/-/COhxiV2P" width="560" height="400" frameborder="0" allowfullscreen="true" style="position:relative;")

          .contacts__form
            .contacts__form_title
              h2 Оставьте заявку на <span class="text-red">бесплатный замер</span><br>Вашего помещения
            form.form
              .form__left
                .form__row
                  .form__field.-line
                    label.form__label(for="inputName") Ваше имя
                    input.form__input(type="text" name="inputName" id="inputName" value="" required)
                .form__row
                  .form__field.-line
                    label.form__label(for="inputTel") Телефон
                    input.form__input(type="text" name="inputTel" id="inputTel" value="" required)

              .form__right
                .form__btn
                  button.btn.dark(type="button") Заказать расчет
