section.services
  .services__content
    .services__wrap
      .services__main
        .container
          .row
            .col-md-6.col-xl-5.offset-xl-1
              h1 Проектирование
              p Проектная организация «Кавпроект» осуществляет широкий спектр услуг в области проектирования.
      .services__img
        img(src="img/design.jpg" alt="")
    .services__text
      .container
        .row
          .col-xl-10.offset-xl-1
            p Описание вида услуги описание вида услуги описание вида услуги описание вида услуги описание вида услуги описание вида услуги описание вида услуги описание вида услуги описание вида услугим описание вида услуги описание вида услуги описание вида услуги описание вида услуги описание вида услуги.
            p Описание вида услуги описание вида услуги описание вида услуги описание вида услуги описание вида услуги описание вид описание вида услугиа услуги описание вида услуги описание вида услуги описание вида услуги описание вида услуги описание вида услуги описание вида услуги описание вида услуги описание вида услуги описание вида услуги описание вида услуги описание вида услуги описание вида услуги описание вида услуги описание вида услуги описание вида услуги.


