section.services
  .services__content
    .services__wrap
      .services__main.engineering
        .container
          .row
            .col-md-9.col-xl-7.offset-xl-1
              h1 Инженерные изыскания
              .row
                .col-md-12.col-7
                  p Проектная организация «Кавпроект» осуществляет все виды инженерных изысканий необходимых для подготовки проектной документации. У нас есть опыт выполнения сложных изыскательских работ в условиях горной, сейсмоопасной местности.
      .services__img.engineering
        img(src="img/engineering.jpg" alt="")
    .services__text
      .container
        .row
          .col-xl-10.offset-xl-1
            .services__accord
              .accordion
                .accordion__item
                  button.accordion__title(type="button") Инженерно-геодезические изыскания
                  .accordion__content
                    p.
                      Создание опорных геодезических сетей.<br><br>
                      1.2. Геодезические наблюдения за деформациями и осадками зданий и сооружений, движениями земной поверхности и опасными природными процессами.<br><br>
                      1.3. Создание и обновление инженерно-топографических планов в масштабах 1:200 — 1:5000, в том числе в цифровой форме, съемка подземных коммуникаций и сооружений.<br><br>
                      1.4. Трассирование линейных объектов.<br><br>
                      1.5. Инженерно-гидрографические работы.<br><br>
                      1.6. Специальные геодезические и топографические работы при строительстве и реконструкции зданий и сооружений.<br><br>
                .accordion__item
                  button.accordion__title(type="button") Инженерно-геодезические изыскания
                  .accordion__content
                    p.
                      Создание опорных геодезических сетей.<br><br>
                      1.2. Геодезические наблюдения за деформациями и осадками зданий и сооружений, движениями земной поверхности и опасными природными процессами.<br><br>
                      1.3. Создание и обновление инженерно-топографических планов в масштабах 1:200 — 1:5000, в том числе в цифровой форме, съемка подземных коммуникаций и сооружений.<br><br>
                      1.4. Трассирование линейных объектов.<br><br>
                      1.5. Инженерно-гидрографические работы.<br><br>
                      1.6. Специальные геодезические и топографические работы при строительстве и реконструкции зданий и сооружений.<br><br>
                .accordion__item
                  button.accordion__title(type="button") Инженерно-геодезические изыскания
                  .accordion__content
                    p.
                      Создание опорных геодезических сетей.<br><br>
                      1.2. Геодезические наблюдения за деформациями и осадками зданий и сооружений, движениями земной поверхности и опасными природными процессами.<br><br>
                      1.3. Создание и обновление инженерно-топографических планов в масштабах 1:200 — 1:5000, в том числе в цифровой форме, съемка подземных коммуникаций и сооружений.<br><br>
                      1.4. Трассирование линейных объектов.<br><br>
                      1.5. Инженерно-гидрографические работы.<br><br>
                      1.6. Специальные геодезические и топографические работы при строительстве и реконструкции зданий и сооружений.<br><br>
                .accordion__item
                  button.accordion__title(type="button") Инженерно-геодезические изыскания
                  .accordion__content
                    p.
                      Создание опорных геодезических сетей.<br><br>
                      1.2. Геодезические наблюдения за деформациями и осадками зданий и сооружений, движениями земной поверхности и опасными природными процессами.<br><br>
                      1.3. Создание и обновление инженерно-топографических планов в масштабах 1:200 — 1:5000, в том числе в цифровой форме, съемка подземных коммуникаций и сооружений.<br><br>
                      1.4. Трассирование линейных объектов.<br><br>
                      1.5. Инженерно-гидрографические работы.<br><br>
                      1.6. Специальные геодезические и топографические работы при строительстве и реконструкции зданий и сооружений.<br><br>
                .accordion__item
                  button.accordion__title(type="button") Инженерно-геодезические изыскания
                  .accordion__content
                    p.
                      Создание опорных геодезических сетей.<br><br>
                      1.2. Геодезические наблюдения за деформациями и осадками зданий и сооружений, движениями земной поверхности и опасными природными процессами.<br><br>
                      1.3. Создание и обновление инженерно-топографических планов в масштабах 1:200 — 1:5000, в том числе в цифровой форме, съемка подземных коммуникаций и сооружений.<br><br>
                      1.4. Трассирование линейных объектов.<br><br>
                      1.5. Инженерно-гидрографические работы.<br><br>
                      1.6. Специальные геодезические и топографические работы при строительстве и реконструкции зданий и сооружений.<br><br>
                .accordion__item
                  button.accordion__title(type="button") Обследование состояния грунтов основания зданий и сооружений.
                  .accordion__content
                    p.
                      Создание опорных геодезических сетей.<br><br>
                      1.2. Геодезические наблюдения за деформациями и осадками зданий и сооружений, движениями земной поверхности и опасными природными процессами.<br><br>
                      1.3. Создание и обновление инженерно-топографических планов в масштабах 1:200 — 1:5000, в том числе в цифровой форме, съемка подземных коммуникаций и сооружений.<br><br>
                      1.4. Трассирование линейных объектов.<br><br>
                      1.5. Инженерно-гидрографические работы.<br><br>
                      1.6. Специальные геодезические и топографические работы при строительстве и реконструкции зданий и сооружений.<br><br>












