section.section
  .projects
    .container
      .row
        .col-xl-10.offset-xl-1
          .projects__heading
            h2 Проекты
        .col-12
          .projects-tabs
            ul.projects-nav
              li.projects-nav__item.active
                .projects-nav__inner
                  .projects-nav__name
                    span.projects-nav__name_text Ландшафтный дизайн
                    span.projects-nav__counter 10
              li.projects-nav__item
                .projects-nav__inner
                  .projects-nav__name
                    span.projects-nav__name_text Проектирование
                    span.projects-nav__counter 6
              li.projects-nav__item
                .projects-nav__inner
                  .projects-nav__name
                    span.projects-nav__name_text Реконструкция
                    span.projects-nav__counter 1
              li.projects-nav__item
                .projects-nav__inner
                  .projects-nav__name
                    span.projects-nav__name_text Реставрация
                    span.projects-nav__counter 1
            .projects-content
              .projects-content__item
                button.projects-content__title(type="button")
                  span.projects-content__category Реставрация
                    span.projects-content__counter 1
                .projects-content__inner
                  ul.projects__list
                    li.projects__item
                      a.projects__inner(href="#")
                        .projects__name Ландшафтный дизайн Сцена в с. Даргавс РСО-Алания
                        .projects__img(style="background-image: url(img/projects.jpg)")
                    li.projects__item
                      a.projects__inner(href="#")
                        .projects__name Ландшафтный дизайн Сцена в с. Даргавс РСО-Алания
                        .projects__img(style="background-image: url(img/projects/1.jpg)")
                    li.projects__item
                      a.projects__inner(href="#")
                        .projects__name Ландшафтный дизайн Сцена в с. Даргавс РСО-Алания
                        .projects__img(style="background-image: url(img/projects/2.jpg)")
                    li.projects__item
                      a.projects__inner(href="#")
                        .projects__name Ландшафтный дизайн Сцена в с. Даргавс РСО-Алания
                        .projects__img(style="background-image: url(img/projects/3.jpg)")
                    li.projects__item
                      a.projects__inner(href="#")
                        .projects__name Ландшафтный дизайн Сцена в с. Даргавс РСО-Алания
                        .projects__img(style="background-image: url(img/projects/4.jpg)")
                    li.projects__item
                      a.projects__inner(href="#")
                        .projects__name Ландшафтный дизайн Сцена в с. Даргавс РСО-Алания
                        .projects__img(style="background-image: url(img/projects/5.jpg)")
              .projects-content__item
                button.projects-content__title(type="button")
                  span.projects-content__category Реставрация
                    span.projects-content__counter 1
                .projects-content__inner
                  ul.projects__list
                    li.projects__item
                      a.projects__inner(href="#")
                        .projects__name Ландшафтный дизайн Сцена в с. Даргавс РСО-Алания
                        .projects__img(style="background-image: url(img/projects.jpg)")
                    li.projects__item
                      a.projects__inner(href="#")
                        .projects__name Ландшафтный дизайн Сцена в с. Даргавс РСО-Алания
                        .projects__img(style="background-image: url(img/projects/1.jpg)")
                    li.projects__item
                      a.projects__inner(href="#")
                        .projects__name Ландшафтный дизайн Сцена в с. Даргавс РСО-Алания
                        .projects__img(style="background-image: url(img/projects/2.jpg)")
                    li.projects__item
                      a.projects__inner(href="#")
                        .projects__name Ландшафтный дизайн Сцена в с. Даргавс РСО-Алания
                        .projects__img(style="background-image: url(img/projects/3.jpg)")
                    li.projects__item
                      a.projects__inner(href="#")
                        .projects__name Ландшафтный дизайн Сцена в с. Даргавс РСО-Алания
                        .projects__img(style="background-image: url(img/projects/4.jpg)")
                    li.projects__item
                      a.projects__inner(href="#")
                        .projects__name Ландшафтный дизайн Сцена в с. Даргавс РСО-Алания
                        .projects__img(style="background-image: url(img/projects/5.jpg)")
              .projects-content__item
                button.projects-content__title(type="button")
                  span.projects-content__category Реставрация
                    span.projects-content__counter 1
                .projects-content__inner
                  ul.projects__list
                    li.projects__item
                      a.projects__inner(href="#")
                        .projects__name Ландшафтный дизайн Сцена в с. Даргавс РСО-Алания
                        .projects__img(style="background-image: url(img/projects.jpg)")
                    li.projects__item
                      a.projects__inner(href="#")
                        .projects__name Ландшафтный дизайн Сцена в с. Даргавс РСО-Алания
                        .projects__img(style="background-image: url(img/projects/1.jpg)")
                    li.projects__item
                      a.projects__inner(href="#")
                        .projects__name Ландшафтный дизайн Сцена в с. Даргавс РСО-Алания
                        .projects__img(style="background-image: url(img/projects/2.jpg)")
                    li.projects__item
                      a.projects__inner(href="#")
                        .projects__name Ландшафтный дизайн Сцена в с. Даргавс РСО-Алания
                        .projects__img(style="background-image: url(img/projects/3.jpg)")
                    li.projects__item
                      a.projects__inner(href="#")
                        .projects__name Ландшафтный дизайн Сцена в с. Даргавс РСО-Алания
                        .projects__img(style="background-image: url(img/projects/4.jpg)")
                    li.projects__item
                      a.projects__inner(href="#")
                        .projects__name Ландшафтный дизайн Сцена в с. Даргавс РСО-Алания
                        .projects__img(style="background-image: url(img/projects/5.jpg)")
              .projects-content__item
                button.projects-content__title(type="button")
                  span.projects-content__category Реставрация
                    span.projects-content__counter 1
                .projects-content__inner
                  ul.projects__list
                    li.projects__item
                      a.projects__inner(href="#")
                        .projects__name Ландшафтный дизайн Сцена в с. Даргавс РСО-Алания
                        .projects__img(style="background-image: url(img/projects.jpg)")
                    li.projects__item
                      a.projects__inner(href="#")
                        .projects__name Ландшафтный дизайн Сцена в с. Даргавс РСО-Алания
                        .projects__img(style="background-image: url(img/projects/1.jpg)")
                    li.projects__item
                      a.projects__inner(href="#")
                        .projects__name Ландшафтный дизайн Сцена в с. Даргавс РСО-Алания
                        .projects__img(style="background-image: url(img/projects/2.jpg)")
                    li.projects__item
                      a.projects__inner(href="#")
                        .projects__name Ландшафтный дизайн Сцена в с. Даргавс РСО-Алания
                        .projects__img(style="background-image: url(img/projects/3.jpg)")
                    li.projects__item
                      a.projects__inner(href="#")
                        .projects__name Ландшафтный дизайн Сцена в с. Даргавс РСО-Алания
                        .projects__img(style="background-image: url(img/projects/4.jpg)")
                    li.projects__item
                      a.projects__inner(href="#")
                        .projects__name Ландшафтный дизайн Сцена в с. Даргавс РСО-Алания
                        .projects__img(style="background-image: url(img/projects/5.jpg)")































