.article
  .container
    .article__wrap
      .article__project
        h2 Технопарк
      .article__text
        p.
          <strong>Выполнение проектно-проектно-изыскательских работ по объекту:</strong> «Строительство Технопарка Алания в г. Владикавказ, Республика Северная
          Осетия – Алания»<br><br>
          </strong>Заказчик:</strong> ГАУ РСО – Алания «Технопарк-Алания»
      .article__slider
        include ../partials/_slider-img
      .article__text
        p
          strong Описание внешнего и внутреннего вида объекта капитального строительства Технопарка «Алания»
        p Комплекс технопарка решен в следующем ключе:
        p.
          1) Административное здание: представляет собой группу радиально расположенных блоков, вокруг круглого блока (конференц-зала). Фасады отделаны кассетами из нержавеющей стали  (окрашены в заводских условиях), по специализированным профилям.<br>
          Административное здание переменной этажности, 1, 2-х, 3-х, 4-х, и 5-и этажное, состоит из 4-х блоков, «А» , «Б», «В» и «Г».<br>
          Блоки имеют секторальную и круглую форму в плане, разделены между собой сейсмическими швами, так как имеют разную этажность и высотность.
        p
          strong Главный вход в здание комплекса предусмотрен в блоке «А»:
        p.
          Блок «А» представляет собой пятиэтажное здание с подвалом, секторальной формы. На первом этаже расположены: вестибюль, тамбур, гардеробные, санузлы. А так же лестничные клетки и лифтовые холлы, комната уборочного инвентаря, офисы.<br>
          На втором этаже в блоке «А» располагаются: зал столовой и кухонный блок.<br>
          На третьем, четвертом и пятом этажах расположены офисы, санузлы, лестничные клетки и лифтовые холлы, комнаты уборочного инвентаря, серверные и кроссовые.<br>
          В подвале в блоке «А» расположены технические помещения  и автомобильная парковка.
        p
          strong Офисные и производственные здания:
        p Представляют собой два многоугольных объема разной этажности (1-5 этажей) объединенные переходом с  горизонтальными траволатором
        p Комплекс включает в себя региональный центр иинжиниринга, центр коллективного пользования, центр прототипирования, офисы резидентов технопарка, а также, бизнес-инкубатор.
        p Также на территории технопарка будут расположены обслуживающие сооружения, котельная, и автоматизированный паркинг.
      .article__nav
        a.article__prev(href="#") Предыдущая статья
        a.article__next(href="#") Следующая статья































