section.services
  .services__content
    .services__wrap
      .services__main
        .container
          .row
            .col-md-6.col-xl-5.offset-xl-1
              h1 Реконструкция
              p Проектная организация «Кавпроект» осуществляет широкий спектр услуг в области реконструкции.
      .services__img
        img(src="img/reconstruction.jpg" alt="")
    .services__text
      .container
        .row
          .col-xl-10.offset-xl-1
            p Описание вида услуги описание вида услуги описание вида услуги описание вида услуги описание вида услуги описание вида услуги описание вида услуги описание вида услуги описание вида услугим описание вида услуги описание вида услуги описание вида услуги описание вида услуги описание вида услуги.
            p Описание вида услуги описание вида услуги описание вида услуги описание вида услуги описание вида услуги описание вид описание вида услугиа услуги описание вида услуги описание вида услуги описание вида услуги описание вида услуги описание вида услуги описание вида услуги описание вида услуги описание вида услуги описание вида услуги описание вида услуги описание вида услуги описание вида услуги описание вида услуги описание вида услуги описание вида услуги.


