section.section
  .service
    .container
      .row
        .col-xl-10.offset-xl-1
          .service__heading
            h2 Услуги
      .row
        .col-md-4.service__item
          a.service__inner(href="#")
            .service__img
              img(src="img/service/1.jpg" alt="")
            .service__name Инженерные изыскания
        .col-md-4.service__item
          a.service__inner(href="#")
            .service__img
              img(src="img/service/2.jpg" alt="")
            .service__name Проектирование
        .col-md-4.service__item
          a.service__inner(href="#")
            .service__img
              img(src="img/service/3.jpg" alt="")
            .service__name Проектирование
        .col-md-4.service__item
          a.service__inner(href="#")
            .service__img
              img(src="img/service/4.jpg" alt="")
            .service__name Реставрация
        .col-md-4.service__item
          a.service__inner(href="#")
            .service__img
              img(src="img/service/5.jpg" alt="")
            .service__name Реконструкция
        .col-md-4.service__item
          a.service__inner(href="#")
            .service__img
              img(src="img/service/6.jpg" alt="")
            .service__name Ландшафтный дизайн
