section.services
  .services__content
    .services__wrap
      .services__main
        .container
          .row
            .col-md-6.col-xl-6.offset-xl-1
              h1 Авторский надзор
              p Проектная организация «Кавпроект» осуществляет широкий спектр услуг в области авторского надзора.
      .services__img
        img(src="img/supervision.jpg" alt="")
    .services__text
      .container
        .row
          .col-xl-10.offset-xl-1
            p Описание вида услуги описание вида услуги описание вида услуги описание вида услуги описание вида услуги описание вида услуги описание вида услуги описание вида услуги описание вида услугим описание вида услуги описание вида услуги описание вида услуги описание вида услуги описание вида услуги.
            p Описание вида услуги описание вида услуги описание вида услуги описание вида услуги описание вида услуги описание вид описание вида услугиа услуги описание вида услуги описание вида услуги описание вида услуги описание вида услуги описание вида услуги описание вида услуги описание вида услуги описание вида услуги описание вида услуги описание вида услуги описание вида услуги описание вида услуги описание вида услуги описание вида услуги описание вида услуги.
