section.section
  .vacancy
    .container
      .row
        .col-xl-11.offset-xl-1
          .vacancy__heading
            h2 Вакансии
          .vacancy__wrap
            .vacancy__item
              .vacancy__left
                .vacancy__info
                  .vacancy__name Ведущий архитектор
                  .vacancy__date Дата публикации: 02.02.20
                .vacancy__salary от 50 000 руб.
                .vacancy__btn
                  a.btn(href="#") Откликнуться
              .vacancy__right
                .vacancy__content
                  p.
                    <span class="font-medium">Обязанности:</span><br>
                    Обязанность первая<br>
                    Обязанность вторая обязанность вторая обязанность вторая обязанность вторая<br>
                    Обязанность третья обязонность
                  p.
                    <span class="font-medium">Требования:</span><br>
                    Требование первое<br>
                    Требование второе<br>
                    Требование третье
                  p.
                    <span class="font-medium">Условия:</span><br>
                    Условие первое условие первое условие первое<br>
                    Условие второе условие второе<br>
                    Условие третье условие третье Условие третье
            .vacancy__item
              .vacancy__left
                .vacancy__info
                  .vacancy__name Ведущий архитектор
                  .vacancy__date Дата публикации: 02.02.20
                .vacancy__salary от 50 000 руб.
                .vacancy__btn
                  a.btn(href="#") Откликнуться
              .vacancy__right
                .vacancy__content
                  p.
                    <span class="font-medium">Обязанности:</span><br>
                    Обязанность первая<br>
                    Обязанность вторая обязанность вторая обязанность вторая обязанность вторая<br>
                    Обязанность третья обязонность
                  p.
                    <span class="font-medium">Требования:</span><br>
                    Требование первое<br>
                    Требование второе<br>
                    Требование третье
                  p.
                    <span class="font-medium">Условия:</span><br>
                    Условие первое условие первое условие первое<br>
                    Условие второе условие второе<br>
                    Условие третье условие третье Условие третье