footer.footer
  .container
    .row
      .col-md-5.col-xl-5.offset-xl-1
        .footer__contacts
          .footer__heading
            h2 Контакты
          .footer__content
            .footer__text.
              ООО «Кавпроект»<br>
              Россия, 362013, РСО-Алания, г. Владикавказ, ул. Мичурина, 46<br>
              тел. +7 (8672) 46-57-58<br>
              тел./факс +7 (8672) 46-58-58<br>
              office@kavproject.ru
            .footer__social
              a.footer__social_link.facebook(href="#")
            .footer__btn
              a.btn.red.icon.icon--tel(href="#") Обратный звонок
      .col-md-7.col-xl-6
        .footer__blog
          .footer__heading
            h2 Блог
          .footer__blog_content#footer-slider
            .footer__blog_item
              a.footer__blog_img(href="#")
                img(src="img/footer-blog.jpg" alt="")
              .footer__blog_desc.
                Авторский надзор: что это такое и с чем его «едят»?
                Авторский надзор – уникальная услуга, включающая комплекс работ по контролю деятельности...
            .footer__blog_item
              a.footer__blog_img(href="#")
                img(src="img/footer-blog.jpg" alt="")
              .footer__blog_desc.
                Авторский надзор: что это такое и с чем его «едят»?
                Авторский надзор – уникальная услуга, включающая комплекс работ по контролю деятельности...
    .row
      .col-xl-10.offset-xl-1
        .footer__copyright © 2020 г. ООО «Кавпроект». Все права защищены.