header.header
  .container
    .header__wrap
      .header__left
        .header__label
          a.logo(href="#") kavproject
        .header__tel
          a.tel(href="+78672465758") +7 (8672) 46-57-58
      .header__right
        nav.header__menu
          .container
            .header__inner
              ul.menu
                li.menu-item
                  a.menu-link(href="#") О нас
                li.menu-item
                  a.menu-link(href="#") Услуги
                li.menu-item
                  a.menu-link(href="#") Клиенты
                li.menu-item
                  a.menu-link(href="#") Проекты
                li.menu-item
                  a.menu-link(href="#") Блог
                li.menu-item
                  a.menu-link(href="#") Вакансии
                li.menu-item
                  a.menu-link(href="#") Контакты
        .header__toggle
          button.toggle-menu(type="button")
            span.toggle-menu__text MENU
            span.toggle-menu__burger
              span














