.advantage {
  @include media-breakpoint-down(sm) {
    h2 {
      text-align: center;
    }
  }
  &__wrap {
    display: flex;
    flex-wrap: wrap;
  }
  &__item {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    &:not(:last-child) {
      margin-bottom: 40px;
    }
    @include media-breakpoint-up(md) {
      width: 33.333%;
      padding: 0 30px;
      &:not(:nth-last-child(-n+3)) {
        margin-bottom: 110px;
      }
    }
    &.aqua {
      &:hover .advantage__number:before {
        background-color: #7accc8;
      }
    }
    &.yellow {
      &:hover .advantage__number:before {
        background-color: #fff200;
      }
    }
    &.green {
      &:hover .advantage__number:before {
        background-color: #00a651;
      }
    }
    &.red {
      &:hover .advantage__number:before {
        background-color: #ff3f3f;
      }
    }
    &.pink {
      &:hover .advantage__number:before {
        background-color: #f49ac1;
      }
    }
  }
  &__number {
    position: relative;
    cursor: pointer;
    span {
      font-size: 66px;
      font-family: $font-century;
      position: relative;
      z-index: 10;
      line-height: 1.3;
    }
    &:before {
      content: '';
      width: 115px;
      height: 40px;
      position: absolute;
      left: 25%;
      top: 50%;
      background-color: #f5f5f5 ;
      transition: .3s;
    }
  }
  &__desc {
    text-align: center;
    font-weight: 300;
    line-height: 1.2;
  }
}