.calculate {
  position: relative;
  z-index: 10;
  &__heading {
    
  }

  &__form {
    max-width: 430px;
    .btn {
      @include media-breakpoint-down(sm) {
        background-color: #515760;
        color: #fff;
      }
    }
  }

}

.calculate2 {
  position: relative;
  z-index: 10;
  &__heading {
    text-align: center;
    margin-bottom: 20px;
    @include media-breakpoint-up(md) {
      margin-bottom: 50px;
    }
    h4 {
      line-height: 1.35;
      @include media-breakpoint-up(lg) {
        line-height: 1.6;
      }
    }
  }

  &__form {
    max-width: 650px;
    padding: 40px 25px;
    background-color: #fff;
    @include media-breakpoint-up(md) {
      padding: 40px 40px 60px;
    }
    @include media-breakpoint-up(xl) {
      padding: 70px 100px 80px;
    }
    .btn {
      @include media-breakpoint-down(sm) {
        background-color: #515760;
        color: #fff;
      }
    }
  }

}