.clients-block {

  &__wrap {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
    @include media-breakpoint-up(md) {
      margin: 40px -15px 0;
    }
  }
  &__item {
    width: 50%;
    display: flex;
    justify-content: center;
    padding: 0 15px;
    margin-bottom: 15px;
    position: relative;
    @include media-breakpoint-up(md) {
      width: 25%;
    }
  }
  &__link {
    filter: grayscale(100%);
    transition: .3s ease-in-out;
    &:hover {
      filter: grayscale(0%);
    }
  }
}

.clients {
  background: rgb(255,255,255);
  background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(238,238,238,1) 100%);
  background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(238,238,238,1) 100%);
  background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(238,238,238,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 );
  padding: 35px 20px 50px;
  @include media-breakpoint-up(md) {
    padding: 70px 0 120px;
  }
  &__heading {
    margin-bottom: 45px;
    @include media-breakpoint-up(md) {
      margin-bottom: 75px;
    }
  }
  &__item {
    display: flex;
    @include media-breakpoint-up(md) {
      align-items: center;
    }
    &:not(:last-child) {
      margin-bottom: 55px;
      @include media-breakpoint-up(md) {
        margin-bottom: 60px;
      }
    }
    @include media-breakpoint-down(sm) {
      flex-direction: column;
    }
  }
  &__img {
    flex: none;
    @include media-breakpoint-up(md) {
      width: 250px;
      padding-right: 40px;
    }
    @include media-breakpoint-up(lg) {
      width: 300px;
      padding-right: 50px;
    }
    @include media-breakpoint-up(lg) {
      width: 400px;
      padding-right: 70px;
    }
    @include media-breakpoint-down(sm) {
      order: 2;
    }
  }
  &__content {
    width: 100%;
    @include media-breakpoint-down(sm) {
      order: 1;
    }
  }
}