.company {
  line-height: 1.75;
  &__header {
    margin-bottom: 50px;
    @include media-breakpoint-up(md) {
      margin-bottom: 95px;
    }
    p {
      font-weight: 100;
    }
  }
  &__wrap {

  }
  &__list {
    padding-left: 0;
    margin: 0;
    list-style: none;
    padding-top: 40px;
    margin-bottom: 70px;
  }
  &__item {
    position: relative;
    &:not(:last-child) {
      margin-bottom: 70px;
    }
  }
  &__number {
    font-size: 176px;
    font-weight: 900;
    line-height: 1;
    position: absolute;
    left: -25px;
    top: -50px;
    opacity: .06;
    @include media-breakpoint-up(md) {
      left: 0;
    }
  }
  &__name {
    @include media-breakpoint-up(md) {
      padding-left: 100px;
    }
  }
  &__content {
    @include media-breakpoint-up(lg) {
      display: flex;
      align-items: center;

    }
  }
  &__text {
    position: relative;
    @include media-breakpoint-up(lg) {
      width: 50%;
      padding-right: 30px;
      p {
        margin-bottom: 0;
      }
    }
  }
  &__img {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    @include media-breakpoint-up(lg) {
      width: 50%;
      flex: none;
      padding-top: 10px;
    }
    @include media-breakpoint-down(xs) {
      margin: 0 -35px;
    }
  }
}