.contacts {

  &__wrap {
    margin-bottom: 40px;
    @include media-breakpoint-up(md) {
      display: flex;
      align-items: flex-start;
      margin-bottom: 150px;
    }
  }
  &__left {
    @include media-breakpoint-up(md) {
      padding-top: 30px;
      padding-right: 35px;
      width: 300px;
      flex: none;
    }
  }
  &__maps {
    height: 445px;
    background-color: #ccc;
    width: 100%;
    position: relative;
    @include media-breakpoint-down(sm) {
      margin: 0 -35px;
      width: calc(100% + 70px);
      height: 230px;
    }
  }
  &__heading  {
    margin-bottom: 35px;
    @include media-breakpoint-up(md) {
      margin-bottom: 80px;
    }
  }
  &__title {
    font-weight: 700;
    margin-bottom: 10px;
    @include media-breakpoint-up(md) {
      font-size: 20px;
      margin-bottom: 20px;
    }
  }
  &__info {
    margin-bottom: 30px;
  }
  &__form {
    &_title {
      @include media-breakpoint-up(md) {
        margin-bottom: 60px;
      }
    }
    .form {

      @include media-breakpoint-up(md) {
        display: flex;
        align-items: center;
      }
      &__left {

        @include media-breakpoint-up(md) {
          width: 430px;
          margin-right: 90px;
        }
      }
      &__right {

      }
      &__btn {
        @include media-breakpoint-up(md) {
          margin-top: 0;
        }
      }
    }
  }
}

.maps {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  iframe {
    border: 0;
    width: 100%;
    height: 100%;
  }
}