.service {

  &__heading {
    @include media-breakpoint-up(md){
      margin-bottom: 70px;
    }
  }
  &__item {
    margin-bottom: 40px;
    @include media-breakpoint-up(md) {
      margin-bottom: 50px;
    }
    @include media-breakpoint-up(lg) {
      margin-bottom: 110px;
    }
  }
  &__inner {
    text-decoration: none;
    position: relative;
    display: block;
    transition: .2s ease-in-out;
    padding-bottom: 15px;
    &:hover {
      .service__img img {
        filter: grayscale(0%);
      }
    }
    @include media-breakpoint-down(xs) {
      margin: 0 -35px;
    }
  }
  &__img {
    margin-bottom: 15px;
    padding-top: 58%;
    position: relative;
    img {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      filter: grayscale(100%);
      transition: .3s ease-in-out;
    }
  }
  &__name {
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    position: relative;
  }
}