.services {
  position: relative;
  z-index: 10;
  @include media-breakpoint-down(sm) {
    padding: 50px 20px 0;
  }
  &__wrap {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    @include media-breakpoint-up(md) {
      min-height: 470px;
      margin-bottom: 80px;
    }
    @include media-breakpoint-up(lg) {
      min-height: 520px;
      margin-bottom: 105px;
    }
    @include media-breakpoint-down(sm) {
      flex-direction: column;
    }
  }
  &__main {
    width: 100%;
    position: relative;
    z-index: 5;
    p {
      color: #888b8e;
      @include media-breakpoint-up(md) {
        font-size: 20px;
      }
    }
    &.engineering {
      @include media-breakpoint-down(md) {
        min-height: 360px;
      }
      @media (max-width: 374px) {
        min-height: 300px;
      }
    }
  }
  &__img {

    @include media-breakpoint-up(md) {
      position: absolute;
      right: 0;
      width: 50%;
      top: 50%;
      transform: translateY(-50%);
    }

    &.restoration {
      @include media-breakpoint-up(lg) {
        width: 55%;
      }
    }
    &.langscape {
      @include media-breakpoint-up(md) {
        right: 5%;
        width: 65%;
        &:before {
          content: '';
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0;
          top: 0;
          background: -moz-linear-gradient(left,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
          background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
          background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 );
        }
      }
    }
    &.engineering {
      width: 35%;
      @include media-breakpoint-down(sm) {
        position: absolute;
        right: 0;
        width: 180px;
        top: 30px;
      }
      @media (max-width: 374px) {
        width: 150px;
      }
    }
  }
}