.vacancy {

  &__heading {
    margin-bottom: 45px;
  }
  &__item {
    position: relative;
    @include media-breakpoint-up(md) {
      display: flex;
    }
    @include media-breakpoint-down(sm) {
      padding-bottom: 70px;
    }
    &:not(:last-child) {
      margin-bottom: 80px;
      @include media-breakpoint-up(md) {
        margin-bottom: 125px;
      }
    }
  }
  &__left {

    @include media-breakpoint-up(md) {
      width: 300px;
      flex: none;
      padding-right: 30px;
    }
    @include media-breakpoint-down(sm) {
      margin-bottom: 30px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  &__info {
    @include media-breakpoint-down(sm) {
      padding-right: 15px;
    }
  }
  &__right {

    @include media-breakpoint-down(sm) {
      width: 100%;
    }
  }
  &__name {
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 5px;
    @include media-breakpoint-up(md) {
      font-size: 22px;
    }
  }
  &__date {
    font-weight: 300;
    font-size: 12px;

    @include media-breakpoint-up(md) {
      margin-bottom: 35px;
      font-size: 14px;

    }
  }
  &__btn {
    @include media-breakpoint-down(sm) {
      text-align: center;
      width: 100%;
      position: absolute;
      bottom: 0;
    }
    .btn {
      min-width: 245px;
      background-color: #ebebeb;
      &:hover {
        background-color: #00a651;
        color: #fff;
      }
    }
  }
  &__content {
    position: relative;
  }
  &__salary {
    font-weight: 700;
    color: #b9b9b9;
    white-space: nowrap;
    @include media-breakpoint-up(md) {
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}