.about {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  &__left {
    width: 100%;
    @include media-breakpoint-up(md){
      width: 72%;
      padding-bottom: 92px;
    }
    @include media-breakpoint-down(sm){
      margin-bottom: 25px;
    }
  }
  &__right {
    width: 100%;
    @include media-breakpoint-up(md){
      width: 28%;
    }
    @include media-breakpoint-down(sm){
      margin-bottom: 30px;
    }
  }
  &__desc {
    line-height: 1.76;
    p {
      line-height: 1.8;
      font-weight: 100;
      margin-bottom: 0;
    }
  }
  &__indicators {
    text-align: center;
    @include media-breakpoint-up(md) {
      padding-left: 40px;
    }
    @include media-breakpoint-up(xl) {
      padding-left: 85px;
    }
    @include media-breakpoint-down(sm) {
      display: flex;
      justify-content: space-between;
    }
    &_item {
      padding: 0 10px;
      @include media-breakpoint-up(md) {
        &:not(:last-child) {
          margin-bottom: 95px;
        }
      }
    }
    &_number {
      font-family: $font-century;
      font-size: 48px;
      line-height: 1;
      @include media-breakpoint-up(md) {
        font-size: 64px;
      }
      @include media-breakpoint-up(lg) {
        font-size: 80px;
      }
    }
    &_desc {
      font-size: 11px;
      line-height: 1;
      @include media-breakpoint-up(md) {
        font-size: 15px;
      }
      @include media-breakpoint-up(lg) {
        font-size: 17px;
      }
    }
  }
  &__btn {
    @include media-breakpoint-up(md) {
      margin-top: -49px;
    }
    @include media-breakpoint-down(sm) {
      margin: 0 auto;
    }
  }
}