.header {
  background-color: #fff;
  &__wrap {
    display: flex;
    padding: 25px 20px;
    align-items: center;
    @include media-breakpoint-up(md) {
      padding: 53px 0;
    }
  }
  &__left {
    margin-right: auto;
    display: flex;
    position: relative;
    @include media-breakpoint-down(sm) {
      z-index: 666;
    }
    @include media-breakpoint-down(xs) {
      flex-direction: column;
      line-height: 1.2;
    }
  }
  &__right {

  }
  &__label {
    margin-right: 30px;
  }
  &__menu {
    @include media-breakpoint-down(md) {
      position: fixed;
      left: 0;
      top: 0;
      z-index: 555;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding-right: 15px;
      transform: translateX(-200%);
      transition: .5s ease-in-out;
    }
    .container {
      height: 100%;
      display: flex;
      align-items: center;
    }
    &.open {
      transform: translateX(0);
    }
  }
  &__inner {
    display: flex;
    align-items: center;
    height: 100%;
    position: relative;
    &:before {
      content: '';
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      background-color: #fff;
      width: 1000px;
    }
  }
}

.logo {
  font-family: $font-code;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 17px;
  letter-spacing: .05em;
  @include media-breakpoint-up(sm) {
    color: #b1b1b6;
  }
  @include media-breakpoint-down(xs) {
    font-size: 17px;
  }
  &:hover {
    color: #b1b1b6;
  }
}

.tel {
  font-weight: 100;
  color: #000;
  text-decoration: none;
  @include media-breakpoint-up(sm) {
    font-size: 16px;
  }
  @include media-breakpoint-down(xs) {
    font-size: 14px;
  }
  &:hover {
    color: #000;
  }
}

body.inner-page {
  .toggle-menu {
    @include media-breakpoint-up(lg) {
      display: none !important;
    }
  }
  .header__inner {

    &:before {
      @include media-breakpoint-up(lg) {
        display: none;
      }
    }
  }
  .menu {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    @include media-breakpoint-up(lg) {
      display: flex;
    }
    @include media-breakpoint-down(md) {
      position: relative;
      z-index: 10;
      min-width: 215px;
      padding-right: 15px;
    }
    @include media-breakpoint-down(sm) {
      padding-left: 20px;
    }
    &-item {
      &:not(:last-child) {
        @include media-breakpoint-between(lg,xl) {
          margin-right: 15px;
        }
        @include media-breakpoint-up(xl) {
          margin-right: 30px;
        }
        @include media-breakpoint-down(md) {
          margin-bottom: 10px;
        }
      }
    }
    &-link {
      font-weight: 300;
      font-size: 17px;
      text-decoration: none;
      position: relative;

      @include media-breakpoint-down(md) {
        &:before {
          content: '';
          width: 1000px;
          height: 1px;
          background-color: #0000ff;
          position: absolute;
          right: 0;
          bottom: 0;
          transform: translateX(-300%);
          transition: .3s;
        }
        &:hover {
          &:before {
            transform: translateX(0);
          }
        }
      }
    }
  }
}

.toggle-menu {
  padding: 0;
  border: 0;
  background-color: transparent;
  display: flex;
  position: relative;
  z-index: 666;
  @include media-breakpoint-down(xs) {
    flex-direction: column;
    align-items: center;
  }
  &__text {
    font-size: 13px;
    font-weight: 300;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.2s ease-in-out;
    @include media-breakpoint-up(sm) {
      margin-right: 30px;
    }
    @include media-breakpoint-down(xs) {
      order: 2;
    }
  }
  &__burger {
    display: inline-block;
    vertical-align: middle;
    width: 33px;
    height: 21px;
    cursor: pointer;
    opacity: .9;
    position: relative;
    @include media-breakpoint-down(xs) {
      order: 1;
      margin-bottom: 3px;
    }
    &:before, &:after {
      content: '';
    }
    span, &:before, &:after {
      display: block;
      width: 100%;
      height: 2px;
      background: #000;
      border-radius: 2px;
      position: absolute;
      left: 0;
      transition: transform 0.5s ease-in-out, top 0.25s ease-in-out 0.5s, opacity 0.25s ease-in-out 0.5s, width 0.25s ease-in-out;
      transform-origin: center;
    }
    &:before {
      top: 0;
    }
    span {
      top: 8px;
    }
    &:after {
      top: 16px;
    }
  }
  &.active {
    .toggle-menu__text {
      color: #fff;
    }
    .toggle-menu__burger {
      span, &:before, &:after {
        transition: background-color 0.2s ease-in-out, transform 0.5s ease-in-out 0.3s, top 0.25s ease-in-out, opacity 0.25s ease-in-out, width 0.25s ease-in-out;
        background-color: #fff !important;
      }
      &:before {
        top: 6px;
        transform: rotate(135deg);
        width: 100%;
      }
      span {
        opacity: 0;
        transform: rotate(135deg);
      }
      &:after {
        top: 6px;
        transform: rotate(225deg);
      }
    }
  }
}

body.home-page {
  .header {
    background-color: transparent;
    &__left {
      justify-content: space-evenly;
      margin-right: 0;
      width: 100%;
    }
    &__label {
      order: 1;
    }
    &__tel {
      order: 2;
    }
    &__menu {
      position: fixed;
      left: 0;
      top: 0;
      z-index: 555;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding-right: 15px;
      transform: translateX(-200%);
      transition: .5s ease-in-out;
      .container {
        height: 100%;
        display: flex;
        align-items: center;
      }
      &.open {
        transform: translateX(0);
      }
    }
  }
  .menu {
    position: relative;
    z-index: 10;
    min-width: 215px;
    padding-right: 15px;
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    @include media-breakpoint-down(sm) {
      padding-left: 20px;
    }
    &-item {
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
    &-link {
      font-weight: 300;
      font-size: 17px;
      text-decoration: none;
      position: relative;

      &:before {
        content: '';
        width: 1000px;
        height: 1px;
        background-color: #0000ff;
        position: absolute;
        right: 0;
        bottom: 0;
        transform: translateX(-300%);
        transition: .3s;
      }
      &:hover {
        &:before {
          transform: translateX(0);
        }
      }
    }
  }
}
