.main-screen {
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  &:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 10;
    @include media-breakpoint-up(lg) {
      height: 50%;
    }
    background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.5) 31%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.5) 31%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.5) 31%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
  }
  &__wrap {
    padding: 45px 0;
    height: calc(100% - 130px);
    display: flex;
    align-items: center;
  }
  &__content {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 10;
    @include media-breakpoint-up(md) {
      align-items: flex-end;
    }
  }
  &__heading {
    font-size: 45px;
    font-family: $font-code;
    font-weight: 300;
    letter-spacing: 0.03em;
    color: #919191;
    text-transform: uppercase;
    margin-bottom: 35px;
    @media (min-width: 375px) {
      font-size: 56px;
    }
    @include media-breakpoint-up(md) {
      font-size: 75px;
    }
    @include media-breakpoint-up(lg) {
      font-size: 115px;
    }
  }
  &__inner {
    display: flex;
    flex-direction: column;
    @include media-breakpoint-up(lg) {
      align-items: center;
    }
    @include media-breakpoint-up(lg) {
      padding-right: 128px;
    }
  }
  &__nav {
    display: flex;
    flex-direction: column;
    margin-bottom: 85px;
  }
  &__link {
    font-size: 18px;
    font-weight: 100;
    color: $color-text;
    text-decoration: none;
    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }
}