include ../includes/mixins
include ../includes/variables

block variables
  - var title = 'KAVPROJECT'

doctype html
html.no-js(lang='ru-RU')
  head
    meta(charset='utf-8')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    title #{title}

    //link(rel="shortcut icon" href="img/favicon.ico" type="image/x-icon")
    //link(rel="icon" href="img/favicon.ico" type="image/x-icon")
    // Place favicon.ico in the root directory

    link(rel="stylesheet" href="libs/magnific-popup/magnific-popup.css")
    link(rel="stylesheet" href="styles/main.css")

  body(class={'home-page': homePage, 'inner-page': innerPage})
    .main-container
      #overlay.overlay
      block header

      block content

    block footer
      include ../modules/footer

    script(src="libs/jquery/jquery-3.4.1.min.js")
    script(src="libs/magnific-popup/jquery.magnific-popup.min.js")
    script(src="libs/validate/jquery.validate.js")
    script(src="libs/slick/slick.js")
    script(src="libs/selectric/jquery.selectric.js")

    script(src='js/main.js')

    block scripts


