section.section
  .container
    .row
      .col-xl-10.offset-xl-1
        .advantage
          h2 Что ценят в нас наши клиенты?
          .advantage__wrap
            .advantage__item.pink
              .advantage__number
                span 01
              .advantage__desc Предоставляем полный перечень<br>проектно-изыскательных работ
            .advantage__item.yellow
              .advantage__number
                span 02
              .advantage__desc Предоставляем смету<br>для сверки с Бизнес-планом
            .advantage__item.aqua
              .advantage__number
                span 03
              .advantage__desc Соблюдаем сроки сдачи<br>проектов
            .advantage__item.green
              .advantage__number
                span 04
              .advantage__desc Слышим пожелания, и не<br>предлагаем шаблонных решений
            .advantage__item.red
              .advantage__number
                span 05
              .advantage__desc У нас гибкое ценообразование
            .advantage__item.pink
              .advantage__number
                span 06
              .advantage__desc Предлагаем функциональные<br>и стильные решения для<br>экстерьера и интерьера