section.section.section--calculate2
  .section__img
    img(src="img/calculate2.png" alt="")
  .calculate2
    .container
      .row
        .col-md-7.offset-xl-1
          .calculate2__form
            .calculate2__heading
              h4 Закажите <span class="text-red">бесплатный</span> предварительный расчет стоимости вашего проекта
            form.form(action="" method="")
              .form__row.-offset-big
                .form__field.-line
                  label.form__label(for="inputName") Ваше имя
                  input.form__input(type="text" name="inputName" id="inputName" value="" required)
              .form__row.-offset-big
                .form__field.-line
                  label.form__label(for="inputTel") Телефон
                  input.form__input(type="text" name="inputTel" id="inputTel" value="" required)
              .form__row.-offset-small.-offset-top
                .form__field.-border
                  label.form__label(for="inputMessage") Описание проекта
                  textarea.form__textarea(name="inputMessage" id="inputMessage" required)
              .form__row
                .form__file
                  input(type="file" name="inputFile")
                  span.button Прикрепите подробное ТЗ
                  label.label(data-js-label)
              .form__btn
                button.btn.red(type="button") Заказать расчет
