section.section.section--calculate
  .section__img
    img(src="img/city.png" alt="")
  .calculate
    .container
      .row
        .col-xl-9.offset-xl-1
          .calculate__heading
            h2 Закажите <span class="text-red">бесплатный</span> предварительный расчет стоимости вашего проекта
        .col-md-6.col-xl-5.offset-xl-1
          .calculate__form
            form.form(action="" method="")
              .form__row
                .form__field
                  label.form__label(for="inputName") Ваше имя
                  input.form__input(type="text" name="inputName" id="inputName" value="" required)
              .form__row
                .form__field
                  label.form__label(for="inputTel") Телефон
                  input.form__input(type="text" name="inputTel" id="inputTel" value="" required)
              .form__row.-offset-small
                .form__field
                  label.form__label(for="inputMessage") Описание проекта
                  textarea.form__textarea(name="inputMessage" id="inputMessage" required)
              .form__row
                .form__file
                  input(type="file" name="inputFile")
                  span.button Прикрепите подробное ТЗ
                  label.label(data-js-label)
              .form__btn
                button.btn.red(type="button") Заказать расчет
