section.section
  .clients-block
    .container
      .row
        .col-xl-10.offset-xl-1
          h2 Наши клиенты
        .col-12
          .clients-block__wrap
            .clients-block__item
              a.clients-block__link(href="#")
                img(src="img/gasprom.jpg" alt="")
            .clients-block__item
              a.clients-block__link(href="#")
                img(src="img/gasprom.jpg" alt="")
            .clients-block__item
              a.clients-block__link(href="#")
                img(src="img/gasprom.jpg" alt="")
            .clients-block__item
              a.clients-block__link(href="#")
                img(src="img/gasprom.jpg" alt="")
            .clients-block__item
              a.clients-block__link(href="#")
                img(src="img/gasprom.jpg" alt="")
            .clients-block__item
              a.clients-block__link(href="#")
                img(src="img/gasprom.jpg" alt="")
            .clients-block__item
              a.clients-block__link(href="#")
                img(src="img/gasprom.jpg" alt="")
            .clients-block__item
              a.clients-block__link(href="#")
                img(src="img/gasprom.jpg" alt="")