.slider
  .slider__item
    a.slider__inner(href="#")
      .slider__name Разработка проектной документации по объекту « Технопарк Алания»
      .slider__img
        img(src="img/img-project.jpg" alt="")
  .slider__item
    a.slider__inner(href="#")
      .slider__name Разработка проектной документации по объекту: «Горнолыжный курорт Армхи»
      .slider__img
        img(src="img/img-project.jpg" alt="")
  .slider__item
    a.slider__inner(href="#")
      .slider__name Разработка проектной документации по объекту: «Гостиница в горнолыжном курорте Армхи
      .slider__img
        img(src="img/img-project.jpg" alt="")
  .slider__item
    a.slider__inner(href="#")
      .slider__name Разработка проектной документации по объекту « Технопарк Алания»
      .slider__img
        img(src="img/img-project.jpg" alt="")
  .slider__item
    a.slider__inner(href="#")
      .slider__name Разработка проектной документации по объекту: «Горнолыжный курорт Армхи»
      .slider__img
        img(src="img/img-project.jpg" alt="")
  .slider__item
    a.slider__inner(href="#")
      .slider__name Разработка проектной документации по объекту: «Гостиница в горнолыжном курорте Армхи
      .slider__img
        img(src="img/img-project.jpg" alt="")