.slider
  .slider__item
    a.slider__inner(href="#")
      .slider__name Проект Фонтана в г. Беслан
      .slider__img
        img(src="img/img-project.jpg" alt="")
  .slider__item
    a.slider__inner(href="#")
      .slider__name Ландшафтный дизайн<br>Сцена в с. Даргавс РСО-Алания
      .slider__img
        img(src="img/img-project.jpg" alt="")
  .slider__item
    a.slider__inner(href="#")
      .slider__name Площадка пред с. Реком в РСО-Алания
      .slider__img
        img(src="img/img-project.jpg" alt="")
  .slider__item
    a.slider__inner(href="#")
      .slider__name Проект Фонтана в г. Беслан
      .slider__img
        img(src="img/img-project.jpg" alt="")
  .slider__item
    a.slider__inner(href="#")
      .slider__name Ландшафтный дизайн<br>Сцена в с. Даргавс РСО-Алания
      .slider__img
        img(src="img/img-project.jpg" alt="")
  .slider__item
    a.slider__inner(href="#")
      .slider__name Площадка пред с. Реком в РСО-Алания
      .slider__img
        img(src="img/img-project.jpg" alt="")