.slider
  .slider__item
    a.slider__inner(href="#")
      .slider__img
        img(src="img/img-project.jpg" alt="")
  .slider__item
    a.slider__inner(href="#")
      .slider__img
        img(src="img/img-project.jpg" alt="")
  .slider__item
    a.slider__inner(href="#")
      .slider__img
        img(src="img/img-project.jpg" alt="")
  .slider__item
    a.slider__inner(href="#")
      .slider__img
        img(src="img/img-project.jpg" alt="")
  .slider__item
    a.slider__inner(href="#")
      .slider__img
        img(src="img/img-project.jpg" alt="")
  .slider__item
    a.slider__inner(href="#")
      .slider__img
        img(src="img/img-project.jpg" alt="")