@font-face {
  font-family: 'SFProDisplay';
  src: url('../fonts/SFProDisplay-Semibold.eot');
  src: url('../fonts/SFProDisplay-Semibold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/SFProDisplay-Semibold.woff2') format('woff2'),
  url('../fonts/SFProDisplay-Semibold.woff') format('woff'),
  url('../fonts/SFProDisplay-Semibold.ttf') format('truetype'),
  url('../fonts/SFProDisplay-Semibold.svg#SFProDisplay-Semibold') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'SFProDisplay';
  src: url('../fonts/SFProDisplay-Thin.eot');
  src: url('../fonts/SFProDisplay-Thin.eot?#iefix') format('embedded-opentype'),
  url('../fonts/SFProDisplay-Thin.woff2') format('woff2'),
  url('../fonts/SFProDisplay-Thin.woff') format('woff'),
  url('../fonts/SFProDisplay-Thin.ttf') format('truetype'),
  url('../fonts/SFProDisplay-Thin.svg#SFProDisplay-Thin') format('svg');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'SFProDisplay';
  src: url('../fonts/SFProDisplay-Regular.eot');
  src: url('../fonts/SFProDisplay-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/SFProDisplay-Regular.woff2') format('woff2'),
  url('../fonts/SFProDisplay-Regular.woff') format('woff'),
  url('../fonts/SFProDisplay-Regular.ttf') format('truetype'),
  url('../fonts/SFProDisplay-Regular.svg#SFProDisplay-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SFProDisplay';
  src: url('../fonts/SFProDisplay-Light.eot');
  src: url('../fonts/SFProDisplay-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/SFProDisplay-Light.woff2') format('woff2'),
  url('../fonts/SFProDisplay-Light.woff') format('woff'),
  url('../fonts/SFProDisplay-Light.ttf') format('truetype'),
  url('../fonts/SFProDisplay-Light.svg#SFProDisplay-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'SFProDisplay';
  src: url('../fonts/SFProDisplay-Heavy.eot');
  src: url('../fonts/SFProDisplay-Heavy.eot?#iefix') format('embedded-opentype'),
  url('../fonts/SFProDisplay-Heavy.woff2') format('woff2'),
  url('../fonts/SFProDisplay-Heavy.woff') format('woff'),
  url('../fonts/SFProDisplay-Heavy.ttf') format('truetype'),
  url('../fonts/SFProDisplay-Heavy.svg#SFProDisplay-Heavy') format('svg');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'SFProDisplay';
  src: url('../fonts/SFProDisplay-Medium.eot');
  src: url('../fonts/SFProDisplay-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/SFProDisplay-Medium.woff2') format('woff2'),
  url('../fonts/SFProDisplay-Medium.woff') format('woff'),
  url('../fonts/SFProDisplay-Medium.ttf') format('truetype'),
  url('../fonts/SFProDisplay-Medium.svg#SFProDisplay-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SFProDisplay';
  src: url('../fonts/SFProDisplay-Black.eot');
  src: url('../fonts/SFProDisplay-Black.eot?#iefix') format('embedded-opentype'),
  url('../fonts/SFProDisplay-Black.woff2') format('woff2'),
  url('../fonts/SFProDisplay-Black.woff') format('woff'),
  url('../fonts/SFProDisplay-Black.ttf') format('truetype'),
  url('../fonts/SFProDisplay-Black.svg#SFProDisplay-Black') format('svg');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'SFProDisplay';
  src: url('../fonts/SFProDisplay-Bold.eot');
  src: url('../fonts/SFProDisplay-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/SFProDisplay-Bold.woff2') format('woff2'),
  url('../fonts/SFProDisplay-Bold.woff') format('woff'),
  url('../fonts/SFProDisplay-Bold.ttf') format('truetype'),
  url('../fonts/SFProDisplay-Bold.svg#SFProDisplay-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Code Pro';
  src: url('../fonts/Code-Pro-Light.eot');
  src: url('../fonts/Code-Pro-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Code-Pro-Light.woff2') format('woff2'),
  url('../fonts/Code-Pro-Light.woff') format('woff'),
  url('../fonts/Code-Pro-Light.ttf') format('truetype'),
  url('../fonts/Code-Pro-Light.svg#Code-Pro-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Code Pro';
  src: url('../fonts/Code-Pro.eot');
  src: url('../fonts/Code-Pro.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Code-Pro.woff2') format('woff2'),
  url('../fonts/Code-Pro.woff') format('woff'),
  url('../fonts/Code-Pro.ttf') format('truetype'),
  url('../fonts/Code-Pro.svg#Code-Pro') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Code Pro Demo';
  src: url('../fonts/Code-Pro-Demo.eot');
  src: url('../fonts/Code-Pro-Demo.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Code-Pro-Demo.woff2') format('woff2'),
  url('../fonts/Code-Pro-Demo.woff') format('woff'),
  url('../fonts/Code-Pro-Demo.ttf') format('truetype'),
  url('../fonts/Code-Pro-Demo.svg#Code-Pro-Demo') format('svg');
  font-weight: 600;
  font-style: normal;
}


@font-face {
  font-family: 'Century Gothic';
  src: url('../fonts/CenturyGothic.eot');
  src: url('../fonts/CenturyGothic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/CenturyGothic.woff2') format('woff2'),
  url('../fonts/CenturyGothic.woff') format('woff'),
  url('../fonts/CenturyGothic.ttf') format('truetype'),
  url('../fonts/CenturyGothic.svg#CenturyGothic') format('svg');
  font-weight: normal;
  font-style: normal;
}





