


$root-font-size: 14px;

@function rem($size) {
  @return $size / $root-font-size * 1rem;
}

$color-white: #fff;

$color-gray: #919191;
$color-dark: #515760;

$line-height-base: 1.4;

$paragraph-margin-bottom: 1.35em;

$color-text: $color-dark;

$font-code: 'Code-Pro', "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-century: 'Century Gothic', "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";


// Переопределение переменных bootstrap
$body-color: $color-dark;
$font-family-sans-serif: 'SFProDisplay', "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$link-color: $color-dark;
$link-hover-color: $color-dark;
$link-decoration: underline;
$link-hover-decoration: none;


$utilities: (
    "height": (
        property: height,
        responsive: true,
        class: h,
        values: (
            25: 25%,
            50: 50%,
            75: 75%,
            100: 100%,
            auto: auto
        )
    ),
);

$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1230px
) !default;

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1260px
) !default;


@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}
}


