extends layout/layout

block variables
  - var title = 'Статья'
  - var innerPage = true

block header
  include modules/header

block content
  include modules/_article_with_social

block footer
  include modules/footer






