extends layout/layout

block variables
  - var title = 'Блог'
  - var innerPage = true

block header
  include modules/header

block content
  include modules/_blog

block footer
  include modules/footer






