extends layout/layout

block variables
  - var title = 'Кленты'
  - var innerPage = true

block header
  include modules/header

block content
  include modules/_clients
  include partials/_calculate2

block footer
  include modules/footer






