extends layout/layout

block variables
  - var title = 'О компании Кавпроект'
  - var innerPage = true

block header
  include modules/header

block content
  include modules/_company

block footer
  include modules/footer






