extends layout/layout

block variables
  - var title = 'Контакты'
  - var innerPage = true

block header
  include modules/header

block content
  include modules/_contacts

block footer
  include modules/footer

block scripts
  script(type="text/javascript" async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBYmHBthHbMaPohKyMBXqnYOrtbpGD856U&callback=initMap")
  script(type="text/javascript").
    function initMap() {

      var coord_1 = new google.maps.LatLng(55.734322, 37.712600);
      var coord_2 = new google.maps.LatLng(55.734322, 38.712600);
      var map = new google.maps.Map(document.getElementById('map'), {
        center: coord_1,
        zoom: 13,
        scrollwheel: false
      });

      var image = {
        url: 'images/marker.svg',
        size: new google.maps.Size(43, 58),
        origin: new google.maps.Point(0, 0),
        anchor: new google.maps.Point(21, 58)
      };

      var contentString_1 = '' +
          '<div class="map__infowindow">' +
          '<div class="map__infowindow_top">' +
          '<a href="#" class="map__infowindow_btn -active">Офис</span>' +
          '<a href="#" class="map__infowindow_btn">Производство</a>' +
          '</div>' +
          '<span class="map__infowindow_address">109052 Москва, ул. Нижегородская 29-33</span>' +
          '<a href="https://goo.gl/maps/GVQu2MBEXaz" target="_blank" class="map__infowindow_link">Проложить маршрут</a>' +
          '</div>';

      var contentString_2 = '' +
          '<div class="map__infowindow">' +
          '<div class="map__infowindow_top">' +
          '<a href="#" class="map__infowindow_btn">Офис</span>' +
          '<a href="#" class="map__infowindow_btn -active">Производство</a>' +
          '</div>' +
          '<span class="map__infowindow_address">109052 Москва, ул. Нижегородская 29-33</span>' +
          '<a href="https://goo.gl/maps/GVQu2MBEXaz" target="_blank" class="map__infowindow_link">Проложить маршрут</a>' +
          '</div>';

      var infoWindow_1 = new google.maps.InfoWindow({
        content: contentString_1
      });

      var infoWindow_2 = new google.maps.InfoWindow({
        content: contentString_2
      });

      var marker = new google.maps.Marker({
        position: coord_1,
        map: map,
        title: 'Москва, ул. рязанская 29-33',
        icon: image
      });

      var marker_2 = new google.maps.Marker({
        position: coord_2,
        map: map,
        title: 'адрес производства',
        icon: image
      });

      marker.addListener('click', function () {
        infoWindow_1.open(map, marker);
      });

      marker_2.addListener('click', function () {
        infoWindow_2.open(map, marker_2);
      });

      infoWindow_1.open(map, marker);

      $(document).on('click', '.map__infowindow_btn', function (e) {
        e.preventDefault();

        var $this = $(this),
            $index = $this.index();

        if ( $index == 0 ) {
          map.panTo(coord_1);
          infoWindow_1.open(map, marker);
        } else if ( $index == 1 ) {
          map.panTo(coord_2);
          infoWindow_2.open(map, marker_2);
        }

      });
    }




