extends layout/layout

block variables
  - var title = 'Главная страница'
  - var homePage = true

block header
  section
    .main-screen(style="background-image: url(img/bg_home.jpg)")
      include modules/header
      .main-screen__wrap
        .container
          .main-screen__content
            h1.main-screen__heading КавПроект
            .main-screen__inner
              .main-screen__nav
                a.main-screen__link(href="#") Инженерные изыскания
                a.main-screen__link(href="#") Проектирование
                a.main-screen__link(href="#") Ландшафтный дизайн
                a.main-screen__link(href="#") Авторский надзор
                a.main-screen__link(href="#") Реставрация
                a.main-screen__link(href="#") Реконструкция
              .main-screen__btn
                a.btn.aqua(href="#") Узнать стоимость проекта
  section.section
    .container
      .row
        .col-xl-10.offset-xl-1
          .about
            .about__left
              h2 О нашей компании
              .about__desc
                p Общество с ограниченной ответственностью «КАВПРОЕКТ» является одним из лидеров на рынке проектных услуг. Основным видом деятельности является деятельность в области архитектуры, инженерно-техническое проектирование в промышленности и строительстве. ООО «КАВПРОЕКТ» является челном саморегулируемых организаций «Союз проектных организаций РОДОС» СРО № 0532.01-2015-1513048313-П-077 и «Союз изыскательских организаций РОДОС» СРО № 0303.02-2015-1513048313-И-010. ООО «КАВПРОЕКТ» реализует в своих проектах новые концепции по опыту мировой и российской архитектуры . Опираясь на базовые знания и навыки современной архитектурной науки, компания всегда открыта любым новациям и не боится идти экспериментальным путем. Именно благодаря этому сегодня «Кавпроект» занимает лидирующие позиции на рынке, являясь организацией со своими традициями, узнаваемым стилем и безупречной репутацией. Компания «Кавпроект» сегодня предоставляет весь спектр проектно- изыскательских услуг.
            .about__right
              .about__indicators
                .about__indicators_item
                  .about__indicators_number(style="color: #39425d;") 57
                  .about__indicators_desc выполненных<br>проектов
                .about__indicators_item
                  .about__indicators_number(style="color: #616f9a;") 2014
                  .about__indicators_desc год основания организации
                .about__indicators_item
                  .about__indicators_number(style="color: #7f93d6;") 31
                  .about__indicators_desc человек в штате
            .about__btn
              a.btn.green(href="#") Подробнее
  section.section
    .container
      .row
        .col-xl-10.offset-xl-1
          h2 Наши проекты
        .col-12
          include partials/_slider-name-img
        .col-12
          br
          .show-more
            a.show-more__link(href="#") Смотреть все проекты


  include partials/_advantages
  include partials/_clients-block
  include partials/_calculate

block footer
  include modules/footer






