doctype html
html.no-js(lang='ru')
  head
    meta(charset='utf-8')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    title КАВПРОЕКТ
    link(rel='stylesheet', href='styles/main.css')

  body
    style.
      .b-index {
        padding: 50px 10px;
      }

      .b-index__container {
        background-color: #fff;
        min-height: 100%;
        max-width: 700px;
        margin: 0 auto;
        box-shadow: 0 0 15px rgba(0, 0, 0, .3);
        padding: 110px 15px 30px;
        background-position: center top 25px;
        background-repeat: no-repeat;
        background-size: 170px;
      }

      @media (min-width: 768px) {
        .b-index__container {
          padding: 50px;
        }
      }

      ol {
        padding-top: 50px;
        margin: 0;
        padding-left: 0;
        color: #515760;
        list-style-position: inside;
      }

      li {
        margin-bottom: 7px;
      }

      a {
        font-size: 18px;
        color: #919191;
        border-bottom: 1px solid transparent;
        line-height: 1;
        transition: .2s;
        text-decoration: none;
      }

      a:hover {
        color: #151515;
        border-color: #8a8a8a;
        text-decoration: none;
      }

    .b-index
      .b-index__container
        ol
          li
            a(href='home.html') Главная страница
          li
            a(href='blog.html') Блог
          li
            a(href='article.html') Статья
          li
            a(href='project.html') Проект
          li
            a(href='supervision.html') Авторский надзор
          li
            a(href='design.html') Проектирование
          li
            a(href='reconstruction.html') Реконструкция
          li
            a(href='restoration.html') Реставрация
          li
            a(href='langscape.html') Ландшафтный дизайн
          li
            a(href='engineering.html') Инженерные изыскания
          li
            a(href='vacancy.html') Вакансии
          li
            a(href='clients.html') Клиенты
          li
            a(href='service-list.html') Услуги
          li
            a(href='company.html') О компании Кавпроект
          li
            a(href='projects.html') Проекты
          li
            a(href='contacts.html') Контакты





