extends layout/layout

block variables
  - var title = 'Технодзор'
  - var innerPage = true

block header
  include modules/header

block content
  include modules/_project

block footer
  include modules/footer






