extends layout/layout

block variables
  - var title = 'Проекты'
  - var innerPage = true

block header
  include modules/header

block content
  include modules/_projects

block footer
  include modules/footer






