extends layout/layout

block variables
  - var title = 'Услуги'
  - var innerPage = true

block header
  include modules/header

block content
  include modules/_service
  section.section.section--calculate
    .section__img
      img(src="img/city.png" alt="")
    include partials/_calculate

block footer
  include modules/footer






