extends layout/layout

block variables
  - var title = 'Авторский надзор'
  - var innerPage = true

block header
  include modules/header

block content
  include modules/_supervision
  section.section
    .container
      .row
        .col-xl-10.offset-xl-1
          include partials/_advantages
  section.section.section--calculate
    .section__img
      img(src="img/city.png" alt="")
    include partials/_calculate

block footer
  include modules/footer






