extends layout/layout

block variables
  - var title = 'Вакансии'
  - var innerPage = true

block header
  include modules/header

block content
  include modules/_vacancy

block footer
  include modules/footer






